form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

input {
  width: 20%;
  height: 35px;
  margin-bottom: 20px;
  padding: 5px;
}

button {
  height: 35px;
}
